In [72]:
import pandas as pd

In [73]:
df = pd.read_csv('Data/accident_13937.csv')

In [74]:
df.head()

,Unnamed: 0,Unnamed: 0.1,screen_name,username,user_id,tweet_id,tweet_url,timestamp,timestamp_epochs,text,...,has_media,img_urls,video_url,likes,retweets,replies,is_replied,is_reply_to,parent_tweet_id,reply_to_users
0,0,0,naomi_cortez11,❅Nⱥ๏mᎥ❅ ✨,867458209,1287538180044988416,/naomi_cortez11/status/1287538180044988416,2020-07-26 23:59:58,1595807998,I need to redye my roots but how am I suppose ...,...,False,[],NaN,0,0,0,False,False,NaN,[]
1,1,1,DaavPuke,Daav 'Riots Are Good Actually' Puke,187295425,1287538165859983365,/DaavPuke/status/1287538165859983365,2020-07-26 23:59:54,1595807994,Any accident that brings you to Twitter is an ...,...,False,[],NaN,1,0,0,False,True,1.287538e+18,"[{'screen_name': 'chersith', 'user_id': '97954..."
2,2,2,doctorneutroph1,doctorneutrophilsarelife,1284998127607599105,1287538159765651457,/doctorneutroph1/status/1287538159765651457,2020-07-26 23:59:53,1595807993,legit I used their first name by accident on a...,...,False,[],NaN,1,0,0,False,True,1.287493e+18,"[{'screen_name': 'gemini_mdtobe', 'user_id': '..."
3,3,3,JonSmit84868940,Jon Smith,1238503858684465152,1287538120427294720,/JonSmit84868940/status/1287538120427294720,2020-07-26 23:59:43,1595807983,Republicans didn't make laws dumb by accident.,...,False,[],NaN,0,0,0,False,True,1.287468e+18,"[{'screen_name': 'shannonrwatts', 'user_id': '..."
4,4,4,KansasCityScout,Kansas City Scout,25517791,1287538116958584833,/KansasCityScout/status/1287538116958584833,2020-07-26 23:59:43,1595807983,Updt 2: ACCIDENT\nI-435 WB (KS) PAST STATE LIN...,...,False,[],NaN,0,0,0,False,False,NaN,[]

In [75]:
df = df.drop(columns=['Unnamed: 0', 'screen_name', 'username', 'user_id', 'tweet_id', 'tweet_url', 'timestamp' ,'timestamp_epochs', 'text_html', 'links', 'hashtags', 'has_media', 'img_urls', 'video_url', 'likes','retweets', 'replies', 'is_replied', 'is_reply_to', 'parent_tweet_id', 'reply_to_users'])

In [76]:
df.shape

(13937, 2)

In [77]:
df.drop_duplicates(subset ="text", keep = False, inplace = True)

In [78]:
df.shape

(12523, 2)

In [79]:
df.to_csv('Dataset/accident_14.csv', index=False)