In [11]:
import pandas as pd

In [12]:
df1 = pd.read_csv('Dataset/accident_13.csv')
df2 = pd.read_csv('Dataset/accident_14.csv')

In [13]:
frames = [df1, df2]

In [14]:
marge = pd.concat(frames)

In [15]:
marge.to_csv('Dataset/accident_marge.csv', index=False)

In [16]:
marge

       Unnamed: 0.1                                               text
0                38  As much as it’s insanity that that dude from N...
1                39  MODIF [26 juil. 2020 à 19 h 57] Fermeture de 3...
2                40  Motor Vehicle Accident | Autumn Meadow Trl / S...
3                41  Motor Vehicle Accident | N Hampton Rd / Remond...
4                42  New album is okay. Chris still sounds amazing ...
...             ...                                                ...
12518         13932  Construction site accidents can be caused by a...
12519         13933  I caused an accident in January and I was give...
12520         13934  THANK YOU. Just got off the phone with county ...
12521         13935  A lot of y’all never been in a car accident so...
12522         13936              No such accidents in the Middle East.

[25046 rows x 2 columns]