In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Dataset/accident_1_ds.csv')
df2 = pd.read_csv('Dataset/accident_2_ds.csv')
df3 = pd.read_csv('Dataset/beirut_ds.csv')
df4 = pd.read_csv('Dataset/bushfires_ds.csv')
df5 = pd.read_csv('Dataset/disaster_1_ds.csv')
df6 = pd.read_csv('Dataset/disaster_2_ds.csv')
df7 = pd.read_csv('Dataset/earthquake_ds.csv')
df8 = pd.read_csv('Dataset/natural_ds.csv')

In [3]:
frames = [df1, df2, df3, df4, df5, df6, df7, df8]

In [4]:
marge = pd.concat(frames)

In [5]:
marge.to_csv('Dataset/tweet_marge.csv', index=False)

In [6]:
marge

                                                   text
0     As much as it’s insanity that that dude from N...
1     New album is okay. Chris still sounds amazing ...
2     Anytime they help you remember that. Ever been...
3                    Tryna make a billion on accident!!
4     Yes, My First Car Lasted 3 Years When It Wasn’...
...                                                 ...
7694  @AmazonUK @Hermesparcels sat in the garden wai...
7695  In every disaster/apocalyptic movie there’s an...
7696  Entire financial industry exposed as basically...
7697  “The coronavirus is a natural disaster. The Re...
7698  "This suffering, your suffering, wasn’t inevit...

[30688 rows x 1 columns]