In [184]:
import pandas as pd
import langid
from langid.langid import LanguageIdentifier, model

In [185]:
# Read CSV File
df = pd.read_csv('Data/typhoon.csv')

In [186]:
df.shape

(374, 22)

In [187]:
# Remove Daraframe Row Which Text Character is Under 10
df = df[df.text.str.len() > 10]

In [188]:
df.shape

(349, 22)

In [189]:
# Add a Column For Tweext Text Type Language
identifier = LanguageIdentifier.from_modelstring(model, norm_probs=True)
df['lang'] = df['text'].apply(lambda x: identifier.classify(x)[0])

In [190]:
df.shape

(349, 23)

In [191]:
# Remove Dataframe Row Which Text Language is Not English
df = df[df.lang == 'en']

In [192]:
df.shape

(187, 23)

In [193]:
# Save Dataframe to CSV File
df.to_csv('Data/typhoon_test.csv',index=False)