In [12]:
from twitterscraper import query_tweets
import datetime as dt
import pandas as pd

In [13]:
tweet_topic = 'typhoon'
begin_date = dt.date(2018,1,1)
end_date = dt.date.today()
tweet_limit = 30000
tweet_lang = 'english'

if __name__ == '__main__':
    # list_of_tweets = query_tweets("Trump OR Clinton", 10)
    list_of_tweets = query_tweets(tweet_topic, limit=tweet_limit, begindate=begin_date, enddate=end_date, poolsize=20, lang=tweet_lang)

In [14]:
df = pd.DataFrame(t.__dict__ for t in list_of_tweets)
df.shape

(374, 21)

In [15]:
df.head()

,screen_name,username,user_id,tweet_id,tweet_url,timestamp,timestamp_epochs,text,text_html,links,...,has_media,img_urls,video_url,likes,retweets,replies,is_replied,is_reply_to,parent_tweet_id,reply_to_users
0,yujii136,松永 勇士,3068813443,964650355152662528,/yujii136/status/964650355152662528,2018-02-16 23:59:01,1518825541,猫が怖がりつつ全力で台風を楽しんでいる動画 - the cat enjoys typhoon...,"<p class=""TweetTextSize js-tweet-text tweet-te...",[http://terratopi.roflclub.asia/article/32478/],...,False,[],,0,0,0,False,False,,[]
1,InstBirdPop,Bird Populations,2835276254,964650098176086016,/InstBirdPop/status/964650098176086016,2018-02-16 23:58:00,1518825480,The Institute was well represented at The Wild...,"<p class=""TweetTextSize js-tweet-text tweet-te...",[],...,True,[https://pbs.twimg.com/media/DWMgDe3U0AAVuGy.jpg],,3,0,0,False,False,,[]
2,imprezafujiwara,IMPRESA FUJIWARA(完全体),2221172438,964648436367728646,/imprezafujiwara/status/964648436367728646,2018-02-16 23:51:24,1518825084,ベスタのtyphoon購入、使用で分かった事は、やっぱりVirtual DJ良いジャマイカと...,"<p class=""TweetTextSize js-tweet-text tweet-te...",[],...,False,[],,1,0,0,False,False,,[]
3,typhoon_aegi,台風喘ぎ声bot,2735296722,964647208174870528,/typhoon_aegi/status/964647208174870528,2018-02-16 23:46:31,1518824791,私は…いつでもきれいだよ♥︎,"<p class=""TweetTextSize js-tweet-text tweet-te...",[],...,False,[],,0,0,0,False,False,,[]
4,rooster_irl,Rooster Gaijin,301884812,964647055804133377,/rooster_irl/status/964647055804133377,2018-02-16 23:45:55,1518824755,"BUT BUT BUT, with typhoon, you get to add to i...","<p class=""TweetTextSize js-tweet-text tweet-te...",[],...,False,[],,0,0,0,False,True,964623919167754248,"[{'screen_name': 'atanae', 'user_id': '2859789..."

In [16]:
df.to_csv('Data/typhoon.csv')